<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzería deliciosamente suya</title>
    <link rel="stylesheet" href="/static/css/style_inicio.css">

</head>
<body>
    <header>
        <h1>Bienvenidos a la Pizzería deliciosamente suya</h1>
        <p>Su destino para la mejor pizza en la ciudad.</p>
    </header>

    <nav>
        <a href="base.html">Inicio</a>
        <a href="/templates/menu.html">Menú</a>
        <a href="/templates/promociones.html">Promociones</a>
        <a href="/templates/contact.html">Contacto</a>
        <br>
        <br>
        <a  class="right-align" href="/templates/login.html">LOGIN</a>
        <a  class="right-align" href="/templates/register.html">REGISTRO</a>
    </nav>

    <div class="container">
        <h2>¡Deliciosa Pizza hecha a mano!</h2>
        <p>Nuestra pizzería se enorgullece de ofrecer la mejor pizza de la ciudad. Utilizamos ingredientes frescos y sabrosos para crear una experiencia única en cada bocado.</p>

        <h2>Menú</h2>
        <p>Explore nuestro menú y descubra una amplia variedad de pizzas, desde las clásicas Margaritas hasta las extravagantes Carnívoras. También ofrecemos opciones vegetarianas y veganas.</p>

        <h2>Promociones</h2>
        <p>No se pierda nuestras ofertas especiales y promociones. ¡Ahorre en su comida favorita y disfrute de deliciosos descuentos!</p>

        <h2>Contacto</h2>
        <p>Estamos ubicados en el centro de la ciudad. Si tiene alguna pregunta o desea hacer un pedido, no dude en ponerse en contacto con nosotros.</p>
    </div>
</body>
</html>
