<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style_templates.css">
    <title>Contacto</title>

</head>

<body>

    <header>
        <h1>Contacto</h1>
    </header>

    <nav>
        <a href="/templates/base.html">Inicio</a>
        <a href="/templates/menu.html">Menú</a>
        <a href="/templates/promociones.html">Promociones</a>
        <a href="/templates/contacto.html">Contacto</a>
        <br>
        <br>
        <a  class="right-align" href="/templates/login.html">LOGIN</a>
        <a  class="right-align" href="/templates/register.html">REGISTRO</a>

    </nav>
    
    <div class="container">
        <p>¡Gracias por tu mensaje! </p>
        <p>Tu mensaje ha sido enviado con éxito. Nos pondremos en contacto contigo pronto.</p>
    </div>
</body>
</html>
