<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes de Pizza Hawaiana</title>
    <link rel="stylesheet" href="/static/css/style_templates.css">
</head>
<body>
    <header>
        <h1>Ingredientes de Pizza Hawaiana</h1>
    </header>

    <nav>
        <a href="/templates/base.html">Inicio</a>
        <a href="/templates/menu.html">Menú</a>
        <a href="/templates/promociones.html">Promociones</a>
        <a href="/templates/contact.html">Contacto</a>
    </nav>

    <div class="container">
        <h3>Ingredientes</h3>
        <div>
            <input type="checkbox" id="masa" style="display: inline-block; margin-right: 5px;" checked>
            <label for="masa" style="display: inline-block;">Masa de pizza</label><br><br>
        </div>      

        <div>
            <input type="checkbox" id="salsa" style="display: inline-block; margin-right: 5px;" checked>
            <label for="salsa" style="display: inline-block;">Salsa de tomate</label><br><br>
        </div>      

        <div>
            <input type="checkbox" id="mozzarella" style="display: inline-block; margin-right: 5px;" checked>
            <label for="mozzarella" style="display: inline-block;">Queso mozzarella</label><br><br>
        </div>      

        <div>
            <input type="checkbox" id="jamon" style="display: inline-block; margin-right: 5px;" checked>
            <label for="jamon" style="display: inline-block;">Jamón</label><br><br>
        </div>      

        <div>
            <input type="checkbox" id="pina" style="display: inline-block; margin-right: 5px;" checked>
            <label for="pina" style="display: inline-block;">Piña</label><br><br>
        </div>      

        <div>
            <input type="checkbox" id="aceite" style="display: inline-block; margin-right: 5px;" checked>
            <label for="aceite" style="display: inline-block;">Aceite de oliva</label><br><br>
        </div>


        <h3>Descripción</h3>
        <p>La Pizza Hawaiana es una deliciosa combinación de sabores salados y dulces. Se prepara con una base de masa de pizza cubierta con salsa de tomate, queso mozzarella, jamón y rodajas de piña. El contraste entre el jamón salado y la piña dulce es lo que hace que esta pizza sea tan especial. Se le añade un toque de aceite de oliva para realzar los sabores.</p>

        <h3>Precio</h3>
        <span>$13.99</span>
    </div>
</body>
</html>
