<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes de Pizza Margarita</title>
    <link rel="stylesheet" href="/static/css/style_templates.css">
</head>
<body>
    <header>
        <h1>Ingredientes de Pizza Margarita</h1>
    </header>

    <nav>
        <a href="/templates/base.html">Inicio</a>
        <a href="/templates/menu.html">Menú</a>
        <a href="/templates/promociones.html">Promociones</a>
        <a href="/templates/contact.html">Contacto</a>
    </nav>

    <div class="container">
        <h3>Ingredientes</h3>
        
        <div>
            <input type="checkbox" id="masa" style="display: inline-block; margin-right: 5px;"  checked>
            <label for="masa" style="display: inline-block;">Masa de pizza</label><br><br>
        </div>     

        <div>
            <input type="checkbox" id="salsa" style="display: inline-block;margin-right: 5px;" checked> 
            <label for="salsa" style="display: inline-block;">Salsa de tomate</label><br><br>


        <div>
            <input type="checkbox" id="mozzarella" style="display: inline-block;margin-right: 5px;"checked>
            <label for="mozzarella" style="display: inline-block;">Mozzarella fresca</label><br><br>
        </div>

        <div>
            <input type="checkbox" id="albahaca" style="display: inline-block;margin-right: 5px;"checked> 
            <label for="albahaca" style="display: inline-block;">Albahaca fresca</label><br><br>
        </div>

        <div>
            <input type="checkbox" id="aceite" style="display: inline-block;margin-right: 5px;"checked> 
            <label for="aceite" style="display: inline-block;">Aceite de oliva</label><br><br>
        </div>

        <div>
            <input type="checkbox" id="salpimienta"  style="display: inline-block;margin-right: 5px;"checked> 
            <label for="salpimienta" style="display: inline-block;">Sal y pimienta</label><br><br>
        </div>

        <h3>Descripción</h3>
        <p>La Pizza Margarita es una pizza clásica italiana con ingredientes sencillos pero deliciosos. Esta pizza se caracteriza por su base de masa de pizza cubierta con una generosa capa de salsa de tomate, mozzarella fresca y hojas de albahaca fresca. Se sazona con un toque de aceite de oliva, sal y pimienta al gusto. Es una pizza simple pero llena de sabor.</p>

        <h3>Precio</h3>
        <span>$10.99</span>
    </div>
</body>
</html>
