<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes de Pizza Pepperoni</title>
    <link rel="stylesheet" href="/static/css/style_templates.css">
</head>
<body>
    <header>
        <h1>Ingredientes de Pizza Pepperoni</h1>
    </header>

    <nav>
        <a href="/templates/base.html">Inicio</a>
        <a href="/templates/menu.html">Menú</a>
        <a href="/templates/promociones.html">Promociones</a>
        <a href="/templates/contact.html">Contacto</a>
    </nav>

    <div class ="container">
        <h3>Ingredientes</h3>
        <div>
            <input type="checkbox" id="masa" style="display: inline-block; margin-right: 5px;"checked>
            <label for="masa" style="display: inline-block;">Masa de pizza</label><br><br>
        </div>
        
        <div>
            <input type="checkbox" id="salsatomate" style="display: inline-block; margin-right: 5px;"checked>
            <label for="salsatomate" style="display: inline-block;">Salsa de tomate</label><br><br>
        </div>
        
        <div>
            <input type="checkbox" id="mozzarella" style="display: inline-block; margin-right: 5px;"checked>
            <label for="mozzarella" style="display: inline-block;">Queso mozzarella</label><br><br>
        </div>
        
        <div>
            <input type="checkbox" id="pepperoni" style="display: inline-block; margin-right: 5px;"checked>
            <label for="pepperoni" style="display: inline-block;">Pepperoni (salchicha de cerdo)</label><br><br>
        </div>
        
        <div>
            <input type="checkbox" id="oregano" style="display: inline-block; margin-right: 5px;"checked>
            <label for="oregano" style="display: inline-block;">Orégano</label><br><br>
        </div>
        
        <div>
            <input type="checkbox" id="aceite" style="display: inline-block; margin-right: 5px;"checked>
            <label for="aceite" style="display: inline-block;">Aceite de oliva</label><br><br>
        </div>


        <h3>Descripción</h3>
        <p>La Pizza Pepperoni es conocida por su abundante capa de pepperoni, una salchicha de cerdo picante que se dora y se vuelve crujiente en el horno. Se combina con la clásica base de masa de pizza y salsa de tomate, y se cubre con queso mozzarella. Se sazona con orégano y un toque de aceite de oliva para darle un sabor inconfundible.</p>

        <h3>Precio</h3>
        <span>$12.99</span>
    </div>
</body>
</html>
